p{
    color: red; 
    width: 300px;
    font-size: 16px;
    font-family: 'Playfair Display', serif;
}
h1{
    font-family: 'Roboto Condensed', sans-serif;
    color: blue;
    font-size: 20px;
    width: 600px;
    border: 6px solid red;
    padding: 8px;
    margin: 26px;
    font-weight: bolder;
    color: green;
    }
    h2{
        font-family: 'Amatic SC', cursive;
        font-size: 12px;
        color: blueviolet;
        width: 550px;
        border: 6px double rgb(6, 109, 29);
        padding: 4px;
        margin: 12px;
        font-weight: inherit;
        color: green;
    }
    h3{
        color: green;
        width: 500px;
        border: none;
        padding: 4px;
        margin: 1cm;
        font-weight: 100;
        color: chocolate;
    }
    section{
        color: rgb(13, 18, 94);
        width: 50px;
        border: 15px dotted coral; 
        padding: 14px;
        margin: 8px;
        font-weight: 100;
        color: rgb(215, 248, 26);
     
    }
 