{
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(206, 220, 235);
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-
}
h1{
    font-family: 'Roboto Condensed', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(2, 2, 66);
    font-size: 60px;
    align-content: space-around;
}

h2{
    font-family: 'Roboto Condensed', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(2, 2, 66);
    font-size: 40px;
    align-content: baseline;
}   
    
    body{
        background-color: gainsboro;
    }
footer{
    background-color: green;
}